---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Level 4 Rooftop Restaurant</title>
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
</head>

<a 
href="https://wa.me/917033566638?text=Hi%2C%20I%20would%20like%20to%20reserve%20a%20table%20at%20Level%204%20Rooftop%20Restaurant"
class="whatsapp-button"
target="_blank"
>
<img src="/images/whatsapp.svg" alt="WhatsApp"/>
</a>

<script src="/src/scripts/menu.js"></script>


<body>



<main>
<slot />
</main>
<Navbar />

<Footer />

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
AOS.init({
duration:900,
once:true
});
</script>

<div class="mobile-reserve">

<a
href="https://wa.me/919876543210?text=Hi%2C%20I%20would%20like%20to%20reserve%20a%20table%20at%20Level%204"
target="_blank"
>
Reserve Table
</a>

</div>
<script src="/src/scripts/navbar.js"></script>
<script>

document.addEventListener("DOMContentLoaded", () => {

const sections = document.querySelectorAll(".fade-section");

const observer = new IntersectionObserver((entries) => {

entries.forEach(entry => {

if(entry.isIntersecting){
entry.target.classList.add("visible");
}

});

},{
threshold:0.2
});

sections.forEach(section => observer.observe(section));

});

</script>

<script is:inline>

const reserveBar = document.querySelector(".mobile-reserve");

if(reserveBar){

window.addEventListener("scroll", () => {

if(window.scrollY > 250){
reserveBar.classList.add("show");
}else{
reserveBar.classList.remove("show");
}

});

}

</script>
</body>
</html>