---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

<section style="padding:120px 40px">

<h1>Contact</h1>

<p>Phone: +91 7760669444</p>

<p>Address: South Church Road, Gaya</p>

</section>

</BaseLayout>