---
import BaseLayout from "../layouts/BaseLayout.astro";
import gallery from "../content/gallery.json";
---

<BaseLayout>

<section class="gallery-page">

<h1>Gallery</h1>

<div class="gallery-grid">

{gallery.map((image) => (

<img
src={image}
alt="Level 4 Rooftop Restaurant"
loading="lazy"
/>

))}

</div>

</section>

</BaseLayout>

<script src="/src/scripts/lightbox.js"></script>